@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.App {
    text-align: center;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

.Form-JSON {
    background: linear-gradient(
        180deg,
        rgba(18, 18, 18, 0.021) 0%,
        rgba(18, 18, 18, 0.2772) 100%
    );
    width: 50%;
    height: 50%;
    border: 10px solid #1abcfe;
    box-sizing: border-box;
    border-radius: 103px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 45% 55%;
}

.Form-logo {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.Form-heading {
    color: #f5f5f5;
    font-family: "Roboto";
    margin-top: 10%;
    margin-bottom: 10%;
}

.Form-input-field {
    background-color: #f5f5f5;
    width: 75%;
    height: 10%;
    font-size: 1.2rem;
    margin-bottom: 10%;
    padding-left: 10px;
    box-sizing: border-box;
}

.Form-input-btn {
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 103px;
    border: none;
    height: 9%;
    width: 25%;
}

.Form-input-btn:hover {
    cursor: pointer;
}

.Form-input-reset {
    background-color: #1abcfe;
    margin-right: 18%;
}

.Form-input-submit {
    background-color: #a259ff;
}

.Form-input-submit:hover {
    background-color: #0acf83;
}

.Form-input-reset:hover {
    background-color: #f24f1ed7;
}
